<br />
<p>
  Veja as cidades com pessoas infectadas, segundo dados oficiais da Secretaria
  Estadual de Saúde.
</p>
<div class="map" #map id="map" style="width: 100%; height: 532.2px;"></div>
<br />

<p>Lista de municipios infectados:</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Municipio</th>
      <th scope="col"># casos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Alvorada</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Anta Gorda</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Bagé</td>
      <td>9</td>
    </tr>
    <tr>
      <td>Bento Gonçalves</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Campo Bom</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Canoas</td>
      <td>7</td>
    </tr>
    <tr>
      <td>Capão da Canoa</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Carlos Barbosa</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Caxias do Sul</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Cerro Grande do Sul</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Charqueadas</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Cruzeiro do Sul</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Dois Irmãos</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Dom Pedrito</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Eldorado do Sul</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Erechim</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Estância Velha</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Estrela</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Farroupilha</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Garibaldi</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Gravataí</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Ivoti</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Lajeado</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Marau</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Nova Palma</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Osório</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Paraí</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Passo Fundo</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Pelotas</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Piratini</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Porto Alegre</td>
      <td>103</td>
    </tr>
    <tr>
      <td>Rio Grande</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Rolante</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Santa Maria</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Santana do Livramento</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Santiago</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Santo Antonio da Patrulha</td>
      <td>1</td>
    </tr>
    <tr>
      <td>São Leopoldo</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Sapiranga</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Serafina Correa</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Taquara</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Torres</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Viamão</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>190</td>
    </tr>
  </tbody>
</table>
