<div class="container fundo">
  <!--inserir cards com números-->
  <!--mapa com tag das cidades-->
  <app-dados> </app-dados>
  <app-mapa></app-mapa>

  <div class="texto">
    <br />
    <p>dados atualizados em 27/03/2020.</p>
    <a
      href="https://saude-admin.rs.gov.br/upload/arquivos/202003/26180251-informe-epidemiologico-rs-2019-ncov-26-03-2020.pdf"
      target="_blank"
      >Relatório site Governo do RS</a
    >
    <br />
    <a href="https://github.com/julianobaldezfreitas/corona" target="_blank"
      >Código Fonte</a
    >
  </div>
</div>
