<!--https://saude.rs.gov.br/upload/arquivos/202003/21214556-informe-epidemiologico-rs-2019-ncov-21-03-2020.pdf-->

<h2><strong>DADOS GERAIS ESTADO RS</strong></h2>
<div class="row fundo text-center tamanho-fonte">
  <div class="col m-2">
    <div class="card bg-danger">
      <div class="card-header">
        <strong> MORTES </strong>
      </div>
      <div class="card-body">
        01
      </div>
    </div>
  </div>
  <div class="col m-2">
    <div class="card bg-danger">
      <div class="card-header">
        <strong> CONFIRMADOS</strong>
      </div>
      <div class="card-body">
        190
      </div>
    </div>
  </div>
  <div class="col m-2">
    <div class="card bg-success">
      <div class="card-header">
        <strong>DESCARTADOS</strong>
      </div>
      <div class="card-body">
        1015
      </div>
    </div>
  </div>
  <div class="col m-2">
    <div class="card bg-warning">
      <div class="card-header">
        <strong>NOTIFICADOS</strong>
      </div>
      <div class="card-body">
        2958
      </div>
    </div>
  </div>
  <div class="col m-2">
    <div class="card bg-warning">
      <div class="card-header">
        <strong>SUSPEITOS</strong>
      </div>
      <div class="card-body">
        258
      </div>
    </div>
  </div>
  <div class="col m-2">
    <div class="card bg-warning">
      <div class="card-header">
        <strong>ANÁLISE</strong>
      </div>
      <div class="card-body">
        968
      </div>
    </div>
  </div>
</div>
